/* Main */

body {
  margin: 0;
}

/* Header */
.logo {
  &:active,
  &:focus,
  &:hover {
    & svg {
      background-color: #22344d;

      & path {
        fill: #fff;
      }
    }
  }
}

.nav {
  &-primary,
  &-secondary {
    text-transform: uppercase;
  }
}
