/* Main */

body {
  margin: 0;
  overflow-x: hidden;
}

/*************************************************/
// Strata
/*************************************************/

/* Header */
.logo {
  display: inline-block;
  width: 300px;

  & svg {
    & path {
      opacity: 1;
      transition: opacity 250ms ease-in-out;
    }
  }

  &:active,
  &:focus,
  &:hover {
    & svg {
      & path {
        opacity: 0.5;
        transition: opacity 250ms ease-in-out;
      }
    }
  }
}

.nav {
  &-primary,
  &-secondary {
    text-transform: uppercase;
  }
}

/* Hero */
.hero {
  &-image {
    display: block;
    left: 0;
    max-height: 944px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

/*************************************************/
// Components
/*************************************************/

/* Cards */
.card {
  &-icon {
    left: -10px;
    max-width: 106px;
    overflow: visible;
    position: absolute;
    top: -26px;
  }
}

/* Gallery */
.gallery {
  &-image {
    display: block;
    max-width: 250px;
    width: 100%;
  }
}

/* Standout */
.standout {
  &-image {
    position: absolute;
    top: 0;
    left: 0;
  }
}

/*************************************************/
// Typography
/*************************************************/

.blockcontent {
  h2 {
    color: #22344d;
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 3rem;
    position: relative;
    text-transform: uppercase;

    &:after {
      background-color: #fcd502;
      bottom: -26px;
      content: "";
      height: 12px;
      left: 0;
      position: absolute;
      width: 104px;
    }
  }

  a {
    color: rgb(32, 120, 146) !important; 

    &:hover {
      color:rgb(17, 62, 75) !important;
    }

    &.block-button {
      background-color: #FCD502;
      border-radius: 5px;
      color: #22344D !important;
      font-family: "Proxima Nova Condensed", monospace;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 9px 14px;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        background-color: #22344D;
        color: #fff !important;
      }
    }
  }

  p + p {
    margin-bottom: 2rem;
  }
}

/*************************************************/
// Navigator Form
/*************************************************/
.ppef-navigator-form {
  html {
    body {
      background-color: #fff !important;

      #form_page {
        box-shadow: none !important;
      }
    }
  }
}
