/* Main */

body {
  margin: 0;
  overflow-x: hidden;
}

/*************************************************/
// Strata
/*************************************************/

/* Header */
.logo {
  &:active,
  &:focus,
  &:hover {
    & svg {
      background-color: #22344d;

      & path {
        fill: #fff;
      }
    }
  }
}

.nav {
  &-primary,
  &-secondary {
    text-transform: uppercase;
  }
}

/* Hero */
.hero {
  &-image {
    display: block;
    left: 0;
    max-height: 944px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

/*************************************************/
// Components
/*************************************************/

/* Cards */
.card {
  &-icon {
    left: -4px;
    max-width: 106px;
    position: absolute;
    top: -26px;
  }
}

/* Gallery */
.gallery {
  &-image {
    display: block;
    max-width: 250px;
    width: 100%;
  }
}
